<header class="header">
    <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-item"><a href=""></a></li>
            <li class="nav-item"><a href=""></a></li>
            <li class="nav-item"><a href=""></a></li>
            <li class="nav-item"><a href=""></a></li>
            <li class="nav-item"><a href=""></a></li>
        </ul>
    </nav>
</header>