<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Learning journal Semester 1</h1>
    <section class="layout">

        <article class="noteofday">
            <div class="right">
                <h2>4-9-2024</h2>
                <p>Vandaag ben ik begonnen met het maken van deze blog site voor al mijn aantekeningen en heb ik een
                    breakdown schets gemaakt.</p>
                <h3>3 studie vragen</h3>
                <ul>
                    <li>Wat is het nut van een breakdown schets?</li>
                    <li>Waar moet je bij zo een schets op letten?</li>
                    <li>Wat is het nut van de I Love web website?</li>
                </ul>
                <p>Ik wil nog uitzoeken hoe ik een slider van de semesters maak op mobiel</p>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>9-9-2024</h2>
                <p>Ik heb een begin gemaakt aan de homepage van onze squadpage.</p>
                <h3>3 studie vragen</h3>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Ik wil nog uitzoeken wat de beste methode is voor het maken van onze slider.</p>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>10-9-2024</h2>
                <p>Vandaag ben ik begonnen met het maken van deze blog site voor al mijn aantekeningen en heb ik een
                    breakdown schets gemaakt.</p>
                <h3>3 studie vragen</h3>
                <ul>
                    <li>Wat is het nut van een breakdown schets?</li>
                    <li>Waar moet je bij zo een schets op letten?</li>
                    <li>Wat is het nut van de I Love web website?</li>
                </ul>
                <p>Ik wil nog uitzoeken hoe ik een slider van de semesters maak op mobiel</p>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>11-9-2024</h2>
                <p>Vandaag ben ik begonnen met het maken van deze blog site voor al mijn aantekeningen en heb ik een
                    breakdown schets gemaakt.</p>
                <h3>3 studie vragen</h3>
                <ul>
                    <li>Wat is het nut van een breakdown schets?</li>
                    <li>Waar moet je bij zo een schets op letten?</li>
                    <li>Wat is het nut van de I Love web website?</li>
                </ul>
                <p>Ik wil nog uitzoeken hoe ik een slider van de semesters maak op mobiel</p>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>16-9-2024</h2>
                <h3>Activiteiten</h3>
                <p>Ik was ziek D:</p>
                <h3>3 dingen die ik heb geleerd</h3>
                <ul>
                    <li>niks</li>
                </ul>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>17-9-2024</h2>
                <h3>Activiteiten</h3>
                <p>Vandaag code verbeteren en foto's resizen voor een snellere en beter gestylde website</p>
                <h3>3 dingen die ik heb geleerd</h3>
                <ul>
                    <li>geen idee</li>
                    <li>grid auto</li>
                    <li>Plannen via issues</li>
                </ul>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>18-9-2024</h2>
                <h3>Activiteiten</h3>
                <p>Vandaag code verbeteren en foto's resizen voor een snellere en beter gestylde website</p>
                <h3>3 dingen die ik heb geleerd</h3>
                <ul>
                    <li>geen idee</li>
                    <li>grid auto</li>
                    <li>Plannen via issues</li>
                </ul>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>23-9-2024</h2>
                <h3>Activiteiten</h3>
                <p>Vandaag heb ik een briefing gehad met de opdrachtgever. Hier heb ben wij geluisterd naar de wensen en
                    behoefte die in het product moeten komen.</p>
                <h3>3 dingen die ik heb geleerd</h3>
                <ul>
                    <li>Briefings voorbereiden en houden</li>
                    <li>Schrijven van debriefings</li>
                    <li>afspraken maken met opdrachtgever</li>
                </ul>
                <p>Ik wil nog leren hoe ik goede plannings met mijn team kan maken en hoe ik een duidelijke
                    taakverdeling kan creëren</p>
            </div>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>25-9-2024</h2>
                <h3>Activiteiten</h3>
                <p>Vandaag hebben we een breakdown schets, wireframe en workflow gemaakt.</p>
                <h3>3 dingen die ik heb geleerd</h3>
                <ul>
                    <li>Workflow maken</li>
                    <li>Verbeteren van wireframe</li>
                    <li>Site map maken</li>
                </ul>
                <p>Ik wil nog de website omzetten in html</p>
            </div>
        </article>

        <article class="noteofday">
            <h2>26-9-2024</h2>
            <h3>Activiteiten</h3>
            <p>Vandaag hebben we een breakdown schets, wireframe en workflow gemaakt.</p>
            <h3>3 dingen die ik heb geleerd</h3>
            <ul>
                <li>Workflow maken</li>
                <li>Verbeteren van wireframe</li>
                <li>Site map maken</li>
            </ul>
            <p>Ik wil nog de website omzetten in html</p>
            </div>
        </article>

        <article class="noteofday">
            <h2>30-9-2024</h2>
            <h3>Activiteiten</h3>
            <p>Vandaag geleerd welke layouts je kan gebruiken in verschillende situaties.</p>
            <h3>3 dingen die ik heb geleerd</h3>
            <ul>
                <li>indelingen maken met grid</li>
                <li>align self met flexbox</li>
                <li>gebruik van position attributen</li>
            </ul>
            <p>voor de opdracthgever moet ik gebruik maken van grid en flexbox</p>
        </article>

        <article class="noteofday">
            <h2>02-10-2024</h2>
            <h3>Activiteiten</h3>
            <p>Vandaag heb ik geleerd waar ik op moet letten met typographie.Wel wil ik nog meer leren over Vi en clamp.
            </p>
            <p>Ik ga de kennis van vandaag toepassen op mijn eindopdracht</p>
        </article>

        <article class="noteofday">
            <h2>07-10-2024</h2>
            <h3>3 code conventies van vandaag:</h3>
            <ul>
                <li>css op juiste manier nesten</li>
                <li>selectors in zelfde volgorde als HTML</li>
                <li>html "ademruimte" geven</li>
            </ul>
            <h3>Leesbaarheid verbeteren</h3>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <p>Vanaf nu ga ik beter letten op mijn nesting in mijn css</p>
        </article>

        <article class="noteofday">
            <h2>09-10-2024</h2>
            <h3>3 leervragen</h3>
            <ul>
                <li>Hoe presenteer ik mijn werk</li>
                <li>Wat moet ik voorbereiden voor een sprint review</li>
                <li>Wat kan ik vragen tijdens de review</li>
            </ul>
            <p>Ik ga verder aan mijn scroll functie en vragen opschrijven voor de review van morgen</p>
        </article>

        <article class="noteofday">
            <h2>14-10-2024</h2>
            <p>Ik heb vandaag geleerd wat de WCAG inhouden en hoe ik deze kan toepassen op de website</p>
            <p>Voor woensdag moet ik nog de handmatige checklist afgaan en aankaarten wat er nog mist op de website</p>
        </article>

        <article class="noteofday">
            <h2>16-10-2024</h2>
            <p>vandaag hebben elkaars audit bekeken en hebben we hier feedback op gekregen. Daarna hebben we een
                workshop gekregen waarin we hebben geleerd hoe we beter html kunnen toevoegen voor een beter
                leesbaarheid met schermlezer</p>
            <h3>3 dingen die ik heb geleerd</h3>
            <ul>
                <li>gebruik van labels</li>
                <li>hoe ik een schermlees test uitvoer</li>
                <li>optimale manier van html voor schermleesbaarheid</li>
            </ul>
            <p>de 6 onderwerpen van vandaag waren: links, afbeeldingen, labels, accordeons, popups en headings</p>
            <p>ik zou van deze 6 nog labels en links kunnen toepassen gezien de rest al gedaan is</p>
        </article>

        <article class="noteofday">
            <div class="right">
                <h2>18-10-2024</h2>
                <p>Ik heb vandaag een code review gehouden met 2 andere duo's waarbij we hebben gekeken naar de
                    toegankelijkheid van onze websites en hier feedback op gegeven</p>
                <h3>Onze toegankelijkheid punten</h3>
                <ul>
                    <li>kleurcontrast: ervoor zorgen dat kleuren goed passen op hun achtergrond kleur</li>
                    <li>froms > fieldsets en legends: indien nodig gebruik van legends en fieldsets</li>
                    <li>inputs met labels: labels op inputs zetten</li>
                    <li>juist gebruik van ol en ul: ervoor zorgen dat ol en ul op juiste manier gebruikt wordt</li>
                    <li>alt beschrijvingen van images: duidelijke beschrijvingen voor duidelijke info op schermlezers
                    </li>
                </ul>
            </div>
        </article>

        <article class="noteofday">
            <h2>21-10-2024</h2>
            <p>Vandaag heb ik kleurcontrasten toegepast op mijn website</p>
        </article>
        <article class="noteofday">
            <h2>11-11-2024</h2>
            <p>Vandaag hebben we gewerkt met styleguides : /links nog toevoegen</p>
            <ul>
                <h3>vandaag geleerd:</h3>
                <li>Gebruik maken van een interface inventory</li>
                <li>stlyguide maken</li>
                <li>gebruik en nut van huisstijl</li>
            </ul>
            <p>Ik ga met mijn team samen kleuren toevoegen en aanmaken. Samen pakken van een main en subpagina op</p>
            <p>we gaan codeconventies houden</p>

        </article>

        <article class="noteofday">
            <h2>13-11-2024</h2>
            <p>Vandaag hebben we als team een stylesheet gemaakt met alle custom properties.</p>
            <p>op mijn <a href="https://github.com/ColindeGroot/look-and-feel-styleguide" target="_blank">github</a>is
                de stylesheet te zien met een Readme van de gemaakte afspraken</p>
            <ul>
                <h3>vandaag geleerd:</h3>
                <li>volgorde van de cascading</li>
                <li>oplossen van volgorde problemen met css</li>
            </ul>
            <h4>Antwoorden op de vragen van de opdracht:</h4>
            <ul>
                <li>Pakt de stijl van gezamelijke file omdat de class styling voorop gaat van element styling</li>
                <li>Word groen omdat de green class de andere class overschrijft</li>
                <li>Roze omdat de de tweede css die ingeladen word de 1ste overschrijft</li>
                <li>Die van de ID omdat wij enkel gebruik maken van classes en elements</li>
            </ul>
            <p>Door mijn classnamen een beetje aan te passen naar degene die wij samen als team hebben gemaakt kan ik de
                code makkelijk verwerken in mijn eigen project</p>
            <p>De afspraken die we hebben gemaakt komen in een readme te staan op de github</p>
        </article>

        <article class="noteofday">
            <h2>18-11-2024</h2>
            <h3>vandaag gedaan</h3>
            <p class="specialfont">eigen lettertype gemaakt en gekoppeld met font face. Zie de github voor meer (link)
            </p>
            <h4>dingen die ik heb geleerd:</h4>
            <ul>
                <li>container querrie atrributes (cqw en cqv)</li>
                <li>hoe je eigen font maakt</li>
                <li>(niet gerelateerd aan les) aanmaken van attributen met append in js voor elk data attribuut dat ik meegeef.</li>
            </ul>
            <p>Ik ga thuis verder aan de createLog functie van mijn i love web om het zo herbuikbaar te maken en heel veel html code (en tijd) te besparen</p>
        </article>

        <article class="noteofday">
            <h2>20-11-2024</h2>
            <h3>vandaag gedaan</h3>
            <p> Toepassen van inputs op formulieren en hoe je deze kan stylen </p>
            <h4>3 dingen die ik heb geleerd over HTML:</h4>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <h4>3 dingen die ik heb geleerd over CSS:</h4>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p>beide onderwerpen gebruiken en toepassen in leertaak:</p>
        </article>

    </section>
</body>

</html>