@font-face {
    font-family: 'epischfont';
    src: url(./assests/epischfont.otf) format("opentype");
}

@view-transition {
    navigation: auto;
}    

/* Create a custom animation */
@keyframes move-out {
    from {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    to {
        transform: translate(-1%, 1%);
        opacity: 0;
    }
}

@keyframes move-in {
    from {
        transform: translate(1%, 1%);
        opacity: 0;
    }

    to {
        transform: translateY(0%, 0%);
        opacity: 1;
    }
}

::view-transition-old(*) {
    animation: 0.2s ease-out both move-out;
}

::view-transition-new(*) {
    animation: 0.2s ease-in both move-in;
}

html {
    font-size: 62, 5%;
    font-family: 'Poppins', system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

h1 {
    font-size: 4em;
    color: #1d1d1b;
    text-align: center;
}

.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 0.5rem;
}

.intro {
    height: 60vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: rgb(117, 236, 69);
    background: linear-gradient(135deg, #42FCDB 0%, #3EE577 100%);
}

main {
    width: 85%;
    margin: auto;
}

.git-repos{
    width: 90%;
    overflow: auto;
    display: flex;
    gap: 1em;
    list-style: none;
    scroll-behavior: smooth;
}

.git-repos::-webkit-scrollbar {
    display: none;
}

.git-repos::scroll-button(left){
    content: '<';
    border: none;
    background-color: #3EE577;
    font-size: 3rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.git-repos::scroll-button(right){
    content: '>';
    border: none;
    background-color: #3EE577;
    font-size: 3rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.repo{
    flex: 0 0 20em;
    background-color: #ddd;
    border-radius: 5px;
    padding: 1rem;
    transition: all 0.3s linear;

    &:hover{
        transform: scale(1.05);
    }
}

/* Slide Container */
.slide-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 3em;
    scroll-behavior:none ;
}

/* Basis styling voor elk blok */
.semesters {
    flex: 0 0 40%; /* Basisbreedte */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 10px;
    background-color: #ddd;
    padding: 2rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center center; /* Transformeer vanuit het midden */
}

/* Vergroten van het centrale blok */
.semesters:nth-child(1):focus-visible,
.semesters:hover {
    transform: scale(1.05); /* Vergroten als blok centraal is */
}

/* Effecten voor omliggende blokken */
.semesters:not(:focus):not(:hover) {
    transform: scale(1);
}

.slide-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
}


/* semester pagina's */
.layout {
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}

.noteofday {
    display: flex;
    flex-flow: column;
    background-color: #eee;
    border-radius: 0.6em;
    width: 80%;
    padding: 2rem;

        code {
            background-color: #3d3d3d;
            color: #fff;
            padding: 1em;
            margin: 1em 0;
            display: block;
            border-radius: 5px;
            font-family: monospace;
        }
        
}
