/* @font-face {
  font-family: "dm-sans";
  src: url(../assests/DMSans_18pt-Light.ttf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "dm-sans";
  src: url(../assests/DMSans_18pt-Medium.ttf) format("opentype");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "dm-sans";
  src: url(../assests/DMSans_18pt-Medium.ttf) format("opentype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "dm-sans";
  src: url(../assests/DMSans_18pt-Medium.ttf) format("opentype");
  font-display: swap;
  font-weight: 500;
} */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@view-transition {
  navigation: auto;
}

/* Create a custom animation */
@keyframes move-out {
  from {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  to {
    transform: translate(-1%, 1%);
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    transform: translate(1%, 1%);
    opacity: 0;
  }

  to {
    transform: translateY(0%, 0%);
    opacity: 1;
  }
}

::view-transition-old(*) {
  animation: 0.2s ease-out both move-out;
}

::view-transition-new(*) {
  animation: 0.2s ease-in both move-in;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-color-main: #111112;
  --text-color-light: #3e3e3e;

  --bg-color-main: #e0e0e0;
  --primary-color: #3ee577;
  --primary-color-fade: #42fcdb;

  background-color: var(--bg-color-main);
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color-main);
}

h1 {
  font-size: 4em;
  text-align: center;
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 0.5rem;
}

.intro {
  height: 60vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: rgb(117, 236, 69);
  background: linear-gradient(135deg, #42fcdb 0%, #3ee577 100%);
}

main {
  width: 85%;
  margin: auto;
}

.showcase {
  display: flex;
  flex-flow: row wrap;
}

.showcase-about {
  flex: 1 1 50%;
}

.git-showcase {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;

  @media (min-width: 900px) {
    width: 100%;
  }
}

.git-repos {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  display: flex;
  gap: 1em;
  list-style: none;
  scroll-behavior: smooth;
  anchor-name: --repocarousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  padding-block: 2rem;

  &:has(.repo:hover) {
    .repo:not(:hover) .inner {
      translate: -0.5rem 0;
    }
  }
}

/* .git-repos::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  background-color: #111112;
  width: 300px;
  height: 300px;
  border-radius: 50%;

} */


.git-repos::-webkit-scrollbar {
  display: none;
}

.git-repos::scroll-button(left),
.git-repos::scroll-button(right) {
  content: "<";
  border: none;
  background-color: #111112;
  color: #fff;
  font-size: 2rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-area: left center;
  position-anchor: --repocarousel;

  @media (min-width: 1100px) {
    font-size: 3rem;
    width: 50px;
    height: 50px;
  }
}

.git-repos::scroll-button(right) {
  content: ">";
  position-area: right center;
}

/* .git-repos::scroll-button(*):disabled{
    opacity: 0.6;
    cursor:auto;
} */

.repo {
  scroll-snap-align: start;
  flex: 0 0 30em;
  padding: 1rem;

  .inner {
    padding: 0 2em;
    transition: transform 0.3s ease-out, translate 0.3s ease-out;
    border-left: #111112 1px solid;
    border-right: #111112 1px solid;
  }

  &:hover .inner {
    transform: scale(1.05);
  }

  .repo::scroll-marker {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: #3ee577;
    border-radius: 50%;
  }
}

@media (max-width: 500px) {
  .repo {
    flex: 0 0 100%;
  }
}

/* Slide Container */
.slide-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 3em;
  scroll-behavior: none;
}

.semesters {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 10px;
  background-color: #ddd;
  padding: 2rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center center;
}

.semesters:nth-child(1):focus-visible,
.semesters:hover {
  transform: scale(1.05);
}

.semesters:not(:focus):not(:hover) {
  transform: scale(1);
}

.slide-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

/* semester pagina's */
.layout {
  margin-top: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.noteofday {
  display: flex;
  flex-flow: column;
  background-color: #eee;
  border-radius: 0.6em;
  width: 80%;
  padding: 2rem;

  code {
    background-color: #3d3d3d;
    color: #fff;
    padding: 1em;
    margin: 1em 0;
    display: block;
    border-radius: 5px;
    font-family: monospace;
  }
}
